<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>srcful</title>
  </head>
  <body>
    <!-- header -->
    <%- include('partials/_nav') %>
    <main>
      <div class="home-page">
        <!-- <h1>Home Page</h1> -->
        <%= locals.some %> <% if (typeof resources !== 'undefined') { %>
        <!-- <%#if ( resources !== undefined ) { %> -->
        <div class="card-container">
          <% resources.forEach(resource => { %>
          <div class="card" data-resource-id="<%= resource.resource_id %>">
            <div class="title">
              <h3><%= resource.title %></h3>

              <div class="web-link">
                <p>written by: <%= resource.username %></p>
                <a href="<%= resource.url %>" target="_blank"
                  ><i class="fas fa-link fa-xs"></i
                ></a>
              </div>
            </div>
            <div class="main">
              <div class="img-container">
                <% if ( resource.image_url !== null) { %>
                <img src="<%= resource.image_url %>" alt="" />
                <% } else { %>
                <img src="https://source.unsplash.com/random/600x600" alt="" />
                <% } %>
              </div>
              <div class="description">
                <p class="teaser"><%= resource.substring %>...</p>
                <div class="btn-container">
                  <a
                    class="button full"
                    href="/resource/<%= resource.resource_id %>"
                    >read more</a
                  >
                </div>
              </div>
            </div>
            <div class="footer">
              <p class="icons">
                <span class="icon"
                  ><i class="fas fa-comment-dots"></i
                  ><sup>
                    <% if ( resource.commentCount !== 0) { %> <%=
                    resource.commentCount %> <% } else { %> <% } %>
                  </sup></span
                >
                <span
                  class="icon like-btn <%= resource.isLiked ? 'liked' : '' %>"
                >
                  <i class="fas fa-heart"></i>
                  <sup>
                    <% if ( resource.likeCount !== 0) { %> <%=
                    resource.likeCount %> <% } else { %> <% } %>
                  </sup>
                </span>
                <i class="fas fa-star"></i
                ><sup>
                  <% if ( resource.avgRating !== 0) { %> <%= resource.avgRating
                  %> <% } else { %> <% } %>
                </sup>
              </p>
              <p class="badges">
                <% resource.categories.forEach(category => { %>
                <span class="badge"><%= category %></span>
                <% } )%>
              </p>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="page-index-container">
          <div>
            <% if ( Number(pageNum) > 1) { %>
            <a
              id="prev"
              class="button prev"
              href="/page/<%= Number(pageNum) - 1 %>"
              ><i class="fas fa-caret-left"></i> prev</a
            >
            <% } %>
          </div>
          <div>
            <a
              id="next"
              class="button next"
              href="/page/<%= Number(pageNum) + 1 %>"
              >next <i class="fas fa-caret-right"></i
            ></a>
          </div>
        </div>
        <% } else { %>
        <div id="home-page">
          <!-- <div>
            <h1>Welcome to <span class="logo">srcful</span></h1>
          </div>
          <div class="subtitle">
            <p>a collection of dev resources,</p>
            <p>created by people like you!</p>
          </div> -->
          <div class="image-box">
            <h1>Welcome to <span class="logo">srcful</span></h1>
            <div class="subtitle">
              <p>a collection of dev resources,</p>
              <p>created by people like you!</p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <!-- footer -->
    <%= locals.some %> <% if (typeof resources !== 'undefined') { %> <%-
    include('partials/_footer') %> <% } %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/masonry.js"></script>
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
  </body>
</html>
