<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>srcful</title>
  </head>

  <body>
    <!-- header -->
    <%- include("partials/_nav") %>
    <main>
      <div class="profile-container">
        <h1>My Profile</h1>

        <div class="info-container">
          <div class="edit-popout hidden">
            <div class="edit-container">
              <h2>update profile</h2>
              <p id="errorMessage" class="hidden"></p>
              <form
                id="update_profile"
                class="form"
                method="POST"
                action="/api/user"
              >
                <div class="form-group">
                  <div>
                    <label for="username">new username:</label>
                    <input type="text" name="username" placeholder="username" />
                  </div>
                  <div>
                    <label for="password">new password:</label>
                    <input type="password" name="password" />
                  </div>
                  <div class="btn-container">
                    <button class="save-btn" type="submit">save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="personal">
            <h3 class="subtitle">personal</h3>
            <p class="username-box">
              username: <span><%= user.username %></span>
            </p>
            <p class="email-box">email: <span><%= user.email %></span></p>
            <p class="password-box">password:</p>
          </div>
          <div class="stats-info">
            <h3 class="subtitle">my stats</h3>
            <p class="resources">
              number of resources: <span><%= user.resourcesCount %></span>
            </p>
            <p class="my-likes">
              resources i've liked: <span><%= user.userLikesCount %></span>
            </p>
            <p class="created">
              member since:
              <span><%= new Date(user.created_at).toLocaleDateString() %></span>
            </p>
          </div>
        </div>
        <div class="btn-container">
          <button class="edit-btn">edit</button>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include("partials/_footer") %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
