<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>Profile</title>
  </head>

  <body>
    <!-- header -->
    <%- include("partials/_nav") %>
    <main>
      <div class="profile-container">

        <h1>My Profile</h1>

        <div class="info-container">
          <!-- <h2>about me:</h2> -->

          <div class="personal">
            <h3 class="subtitle">personal</h3>
            <p class="username-box">
              username: <span><%= user.username %></span>
            </p>
            <p class="email-box">email: <span><%= user.email %></span></p>
            <p class="password-box">password: <span><%= user.password.slice(0, 1).concat("*****").concat(user.password.slice(user.password.length - 1)) %></span></p>
          </div>
          <div class="stats-info">
            <h3 class="subtitle">my stats</h3>
            <p class="resources">number of resources: <span><%= created_resources %></span></p>
            <p class="my-likes">resources i've liked: <span><%= user_likes %></span></p>
            <p class="created">member since: <span><%= user.created_at.slice(0,10) %></span></p>
          </div>
        </div>
        <div class="btn-container">
          <form method="GET" action="/edit_profile"><td><input type="submit" value="Edit"></td></form>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include("partials/_footer") %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
