<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
    <title>My Resources</title>
  </head>

  <body>
    <!-- header -->
    <%- include('partials/_nav') %>
    <main>
      <div class="myresource-container">
        <div class="header-banner">
          <h1>my resources</h1>
          <div class="btn-container">
            <a class="button create-new" href="/resource/new">create new</a>
            <!-- <a class="button edit-btn" href="/resource/edit">edit</a> -->
          </div>
        </div>
        <div class="resources">
          <% resources.forEach(resource => { %>
          <div class="card">
            <div class="title">
              <h3><%= resource.title %></h3>
              <p>written by: <%= resource.username %></p>
              <div class="web-link">
                <a href="<%= resource.url %>"><i class="fas fa-link"></i></a>
              </div>
            </div>
            <div class="main">
              <div class="img-container">
                <% if ( resource.image_url !== undefined) { %>
                <img src="<%= resource.image_url %>" alt="" />
                <% } else { %>
                <img src="https://source.unsplash.com/random/600x600" alt="" />
                <% } %>
              </div>
              <div class="btn-container">
                <a
                  class="button full"
                  href="/resource/<%= resource.resource_id %>"
                  >full article</a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
