<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>srcful</title>
  </head>

  <body>
    <%- include('partials/_nav') %>

    <main>
      <div class="search-page">
        <h1>Search Results</h1>

        <div class="resources">
          <% if (results.length === 0) { %>
          <h3 class="subtitle">No Results Found</h3>
          <% } else { %>
          <div class="card-container">
            <% results.forEach(result => { %>
            <div class="card" data-resource-id="<%= result.resource_id %>">
              <div class="title">
                <h3><%= result.title %></h3>

                <div class="web-link">
                  <p>written by: <%= result.username %></p>
                  <a href="<%= result.url %>" target="_blank"
                    ><i class="fas fa-link fa-xs"></i
                  ></a>
                </div>
              </div>
              <div class="main">
                <div class="img-container">
                  <% if ( result.image_url !== null) { %>
                  <img src="<%= result.image_url %>" alt="" />
                  <% } else { %>
                  <img
                    src="https://source.unsplash.com/random/600x600"
                    alt=""
                  />
                  <% } %>
                </div>
                <div class="description">
                  <p class="teaser"><%= result.substring %>...</p>
                  <div class="btn-container">
                    <a
                      class="button full"
                      href="/resource/<%= result.resource_id %>"
                      >read more</a
                    >
                  </div>
                </div>
              </div>
              <div class="footer">
                <p class="icons">
                  <span class="icon"
                    ><i class="fas fa-comment-dots"></i
                    ><sup>
                      <% if ( result.commentCount !== 0) { %> <%=
                      result.commentCount %> <% } else { %> <% } %>
                    </sup></span
                  >
                  <span
                    class="icon like-btn <%= result.isLiked ? 'liked' : '' %>"
                  >
                    <i class="fas fa-heart"></i>
                    <sup>
                      <% if ( result.likeCount !== 0) { %> <%= result.likeCount
                      %> <% } else { %> <% } %>
                    </sup>
                  </span>
                  <i class="fas fa-star"></i
                  ><sup>
                    <% if ( result.avgRating !== 0) { %> <%= result.avgRating %>
                    <% } else { %> <% } %>
                  </sup>
                </p>
                <p class="badges">
                  <% result.categories.forEach(category => { %>
                  <span class="badge"><%= category %></span>
                  <% } )%>
                </p>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/masonry.js"></script>
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
  </body>
</html>
