<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <title>srcful</title>
  </head>

  <body>
    <!-- header -->
    <%- include("../partials/_nav") %>
    <main>
      <div class="article-container">
        <div class="resource-container">
          <% if (creator) { %>
          <div class="header-banner">
            <% if (user) { %>
            <div class="btn-container">
              <a
                class="button edit-btn"
                href="/resource/<%= resource.resource_id %>/edit"
                >edit</a
              >
              <a
                class="button delete"
                href="/resource/<%= resource.resource_id %>/delete"
                >delete</a
              >
            </div>
            <% } %>
          </div>
          <% } %>
          <div class="resource">
            <% if ( resource !== undefined) { %>
            <div class="card">
              <div class="title">
                <h1><%= resource.title %></h1>
                <p>written by: <%= resource.username %></p>
              </div>
              <div class="main">
                <div class="img-container">
                  <!-- <%# if ( resource.image_url !== null) { %>
                  <img src="<%# resource.image_url %>" alt="" />
                  <%# } else { %>
                  <img src="https://source.unsplash.com/random/600x600" alt="" />
                  <%# } %> -->
                  <img src="<%= resource.image_url %>" alt="" />
                </div>
                <div class="description">
                  <div class="web-link">
                    <a href="<%= resource.url %>" target="_blank"
                      ><i class="fas fa-link fa-xs"></i
                    ></a>
                  </div>
                  <p class="full-article"><%= resource.description %></p>
                </div>
              </div>
              <div class="footer">
                <div class="icons">
                  <span class="icon comment-dots"
                    ><i class="fas fa-comment-dots"></i
                    ><sup>
                      <% if ( resource.commentCount !== 0) { %> <%=
                      resource.commentCount %> <% } else { %> <% } %>
                    </sup></span
                  >
                  <span
                    class="icon like-btn" <%= resource.isLiked ? "liked" : "" %>
                  >
                    <i class="fas fa-heart"></i>
                    <sup>
                      <% if ( resource.likeCount !== 0) { %> <%=
                      resource.likeCount %> <% } else { %> <% } %>
                    </sup>
                  </span>
                  <i class="icon fas fa-star"></i
                  ><sup>
                    <% if ( resource.avgRating !== 0) { %> <%=
                    resource.avgRating %> <% } else { %> <% } %>
                  </sup>
                </div>
                <div class="badges">
                  <% resource.categories.forEach(category => { %>
                  <span class="badge"><%= category %></span>
                  <% } )%>
                </div>
                <div class="rating">
                  <form>
                    <input
                      type="radio"
                      class="star-input"
                      name="rating"
                      id="star-1"
                      value="1"
                    />
                    <label for="star-1" class="star"
                      ><i class="fas fa-star"></i
                    ></label>
                    <input
                      type="radio"
                      class="star-input"
                      name="rating"
                      id="star-2"
                      value="2"
                    />
                    <label for="star-2" class="star"
                      ><i class="fas fa-star"></i
                    ></label>
                    <input
                      type="radio"
                      class="star-input"
                      name="rating"
                      id="star-3"
                      value="3"
                      checked
                    />
                    <label for="star-3" class="star"
                      ><i class="fas fa-star"></i
                    ></label>
                    <input
                      type="radio"
                      class="star-input"
                      name="rating"
                      id="star-4"
                      value="4"
                    />
                    <label for="star-4" class="star"
                      ><i class="fas fa-star"></i
                    ></label>
                    <input
                      type="radio"
                      class="star-input"
                      name="rating"
                      id="star-5"
                      value="5"
                    />
                    <label for="star-5" class="star"
                      ><i class="fas fa-star"></i
                    ></label>
                  </form>
                </div>
                <div class="comment-container">
                  <form class ="inputComment" action="">
                    <h4>leave a comment</h4>
                    <div class="form-container">
                 
                      <label for="comment-title">title (optional)</label>
                      <input type="text" name="comment-title" id="comment-title" >
                        <label for="comment-content">comment</label>
                      <input type="text" name="comment" id="comment-content" >
                      <div class="btn-container">
                        <button class="comment-btn" type="submit">
                          comment
                        </button>
                      </div>
                    </div>
                  </form>
                 
                <% comments.firstThreeComments.forEach(function(comment) { %>
                  <div class="comment">
                    <div class="comment-body">
                      <h4 class="comment-title">
                        <%= comment.title %>
                      </h4>
                      <p class="username">@<%= comment.username %></p>
                      <p class="comment-content">
                        <%= comment.content %>
                      </p>
                    </div>
                    <div>
                      <p class="comment-date"><%= comment.to_char %></p>
                    </div>
                  </div>
                <% }) %> 
                  
                <% if (resource.commentCount > 3) { %>  
                <div id="load-more">
                  <button class="load-more">
                    all comments <i class="fas fa-caret-down"></i>
                  </button>
                </div>
                <% } %>
                
                 
              </div>
            </div>
            <% } else { %>
            <!-- <p>there was an error</p> -->
            <% } %>
           
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include("../partials/_footer") %>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>

  </body>
</html>