<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>srcful</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('../partials/_nav') %>

    <main>
      <!-- Login Form -->
      <div class="new-form">
        <h2>Create New Resource</h2>
        <form action="/resource/new" method="POST">
          <div class="form-group">
            <div>
              <label for="title">title:</label>
              <input type="text" name="title" placeholder="title" required />
            </div>
            <div id="article-div">
              <label for="description">article:</label>
              <textarea
                name="description"
                placeholder="Lorem ipsum dolor sit amet..."
                required
              ></textarea>
            </div>
            <div>
              <label for="url">url:</label>
              <input type="text" name="url" placeholder="https://" required />
            </div>
            <div>
              <label for="imageURL">image uRL:</label>
              <input
                type="text"
                name="imageURL"
                placeholder="https://"
                required
              />
            </div>
            <div class="categories">
              <div id="list1" class="dropdown-check-list" tabindex="100">
                <span class="anchor">categories</span>
                <ul class="items">
                  <% categories.forEach(category => { %>
                  <li>
                    <input
                      type="checkbox"
                      name="categories"
                      value="<%= category.title %>"
                      id="<%= category.title %>"
                    />
                    <label for="<%= category.title %>"
                      ><%= category.title %></label
                    >
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <!-- <div>
              <label for="category">category:</label>
              <input
                type="text"
                name="category"
                placeholder="category"
              />
            </div> -->
            <div class="btn-container">
              <button type="submit" class="create-btn">create</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!-- footer -->
    <%- include('../partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/dropdown.js"></script>
  </body>
</html>
